{% extends 'base.html.twig' %}

{% block title %}New Courses{% endblock %}

{% block body %}
    <h1 class="text-center">Create new Courses</h1>
    
        {{ include('courses/_form.html.twig') }}

        <a href="{{ path('courses') }}" class="btn btn-primary ">back to list</a>
     </div>
     </div>
  
{% endblock %}
