
.card-header{
    background-color:#4682b4;
    color:white;
    font-weight:bold;
}

.textDeco{
    color: #4682b4;
}



.card-title{
    color: #4682b4;
}

.go{
    background-color:#17a2b8;
    color : white;
}
