{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}


<div class="container" id="profil">
    <button class="btn btn-lg btn-primary" type="submit" onclick="location.href='{{ path('app_register') }}';">
        Veuillez vous inscrire
  </button>
</div>
{% endblock %}
